# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.swo
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
# Extras
extra*/
scripts*/
jarvice-settings*/
.terraform/
.terraform*
terraform.*state*
crash.log
tmp*/
*.bak/
bak*/
*.local/
*.local
jobperf/
terraform/
*.svg
*.md
